# 20nov24 Software Lab. Alexander Burger
# Copy to ~/.pil/rc

(history
   (make
      (skip "#")
      (while (line T) (link @))  # Global history
      (while (read) (eval @))  # Initial commands
      (when (info ".pilrc")  # Local history and commands
         (in @@
            (skip "#")
            (while (line T) (link @))
            (while (read) (eval @)) ) ) ) )

# Initial history
(stack)
(gc 1200) (dbCheck)
(show (; *FormLst 1 2))
(vi (; *FormLst 1 2 *Dbg 1 -1))
(show (; *FormLst 1 2 obj))

# Initial commands
(de x ()
   (load "x.l") )
